@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;500;900&display=swap');

$dorado-transparencia: #e5d09bb7;
$azul-logo: #6d8ca8;
$azul-logo-transparencia:rgba(108, 140, 167, 0.8);
$gris-texto: #6E6E68;
$verde: #90B482;
$verde-transparencia: #90b48227;
$verde-transparencia-form: rgba(144, 180, 130, 0.50);
$crema-bg: #eeeee4;
$dorado: #e5d09b;
$font:'Yantramanav',
sans-serif;

* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    font-family: $font;
    color: $gris-texto;

    body {
        background-color: $crema-bg;

        main {
            background-color: $crema-bg;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(12, auto);
        }

        h2 {
            font-size: 2rem;
            font-weight: 500;
            padding: 2rem 0rem 1rem 0rem;
        }

        h3 {
            font-size: 1.5rem;
            font-weight: 400;
            padding-left: 2rem;
        }

        p {
            font-size: 1.2rem;
            font-weight: 300;
        }

        ul,
        ol {
            list-style-type: none;
            text-decoration: none;
        }

        a {
            text-decoration: none;
        }
    }
}

.navbar {
    background-color: $dorado-transparencia;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-iteration-count: 1;
    z-index: 10;
    width: 100vw;
    position: fixed;
    top: 0;

    .navbar__logo {
        height: 70px;
    }
}

button.navbar-toggler {
    border: 2px solid $azul-logo;
    transition: border .15s ease-in-out;

    span i.fas.fa-bars {
        color: $azul-logo;
        font-size: 1.5rem;
    }
}

button.navbar-toggler:focus {
    border: 3px solid $azul-logo;
    box-shadow: none;
}

.navbar-nav .nav-item .nav-link {
    color: $gris-texto;
    font-weight: 500;
    font-size: 1.2rem;
    padding-right: 0.5rem;
}

.navbar-nav .nav-item .nav-link:hover {
    color: $azul-logo;
}

.navbar__bg--titule {
    margin: 0 auto;
    width: fit-content;
    position: absolute;
    right: 15%;
    bottom: 40%;
    left: 15%;
    z-index: 5;
    text-align: center;

    h1 {
        padding: 0.5rem 1rem;
        background-color: rgba(255, 255, 255, 0.651);
        font-weight: 500;
        font-size: 2rem;
        border-radius: 0.5rem;
        text-align: center;
        letter-spacing: 4px;
        animation-name: aparecer;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }
}

@media (max-width: 576px) {
    .navbar__bg--titule {
        display: none;
    }
}

.footer {
    background-color: #e5d09b;
    width: 100%;
    height: fit-content;

    .footer__logo {
        padding: 0.5rem 0rem 0.3rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            height: 60px;
            text-align: center;
        }
    }

    .footer__redes {
        text-align: center;

        a {
            padding: 0rem 0.2rem;

            i:hover {
                transform: scale(1.2);
                transition: all 1s;
            }
        }
    }

    .footer__derechos-lugar {
        display: flex;
        justify-content: space-between;

        p {
            padding: 0rem 3rem 1rem 3rem;
            font-size: 1rem;
        }
    }
    @media (max-width: 576px) {
        .footer__derechos-lugar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            p {
                padding: 0rem 0rem 0rem 0rem;
                font-size: 1rem;
            }
        }
    }
}

/* ANIMACIONES */
@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}