$dorado-transparencia: #e5d09bc2;
$azul-logo: #6d8ca8;
$gris-texto: #6E6E68;
$verde: #90B482;
$verde-transparencia: #90b48227;
$crema-bg: #eeeee4;
$dorado: #e5d09b;

/* margen contenido 3vw a los costados (total espacio body 94vw) */

* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    font-family: 'Yantramanav', sans-serif;
    color: $gris-texto; 
}

body {
    background-color: $crema-bg;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    padding: 2rem 0rem 1rem 0rem;
}

h3 {
    font-weight: 400;
    padding-left: 2rem;
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
    font-weight: 300;
}

ul,
ol {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: $dorado-transparencia;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-iteration-count: 1;
    z-index: 10;
    width: 100vw;
    position:fixed;
    top: 0;
}

.navbar .navbar__logo {
    height: 70px;
}

button.navbar-toggler{
    border: 2px solid #6d8ca8;
    transition: border .15s ease-in-out;
}

button.navbar-toggler:focus{
    border: 3px solid #6d8ca8;
    box-shadow: none;
}

i.fas.fa-bars {
    color: $azul-logo;
    font-size: 1.5rem;
}

.navbar-nav .nav-item .nav-link {
    color: $gris-texto;
    font-weight: 500;
    font-size: 1.2rem;
    padding-right: 0.5rem;
}

.navbar-nav .nav-item .nav-link:hover {
    color: $azul-logo;
}

.navbar__bg {
    min-height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar__bg .navbar__bg--titule {
    min-height: 500px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.navbar__bg .navbar__bg--titule h1 {
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.651);
    font-weight: 500;
    font-size: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    letter-spacing: 4px;
    animation-name: aparecer;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

$navbar__bg: (
    index: url(../img/backgrond7.jpg),
    nosotros: url(../img/backgrond1.jpg),
    galeria: url(../img/backgrond2.jpg),
    faq: url(../img/backgrond6.jpg),
    contacto: url(../img/backgrond4.jpg),
);

@each $name-page, $bg-image in $navbar__bg {
    ##{$name-page}__navbar--bg {
        background-image: #{$bg-image};
    }
}

main {
    background-color: $crema-bg;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, auto);
}

.footer {
    background-color: #e5d09b;
    width: 100%;
    height: fit-content;
}

.footer .footer__logo {
    padding: 0.5rem 0rem 0.3rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .footer__logo img {
    height: 60px;
    text-align: center;
}

.footer .footer__redes {
    text-align: center;
}

.footer .footer__redes a {
    padding: 0rem 0.2rem;
}

.footer .footer__redes a i:hover {
    transform: scale(1.2);
    transition: all 1s;
}

.footer .footer__derechos-lugar {
    display: flex;
    justify-content: space-between;
}

.footer .footer__derechos-lugar p {
    padding: 0rem 3rem 1rem 3rem;
    font-size: 1rem;
}