/* GALERIA */

.galeria-fotos {
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1 / 13;
    grid-row: 1 / 9;
    .galeria-fotos__content {
        display: flex;
        flex-wrap: wrap;
        @media(max-width:992px) {
            justify-content: center;   
        }
        @media(min-width:992px) {
            justify-content: space-between;   
        }
        img {
            width: 21rem;
            height: 21rem;
            padding: 1rem 0rem;
        }  
    }
}


.galeria-musical {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1 / 13;
    grid-row: 9 / 13;
    .galeria-musical__spotify {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}