/* GALERIA */

.galeria-fotos {
    width: 90vw;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1 / 13;
    grid-row: 1 / 9;
    .galeria-fotos__content {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        img {
            width: 21rem;
            height: 21rem;
            padding: 1rem;
        }
    }
}

.galeria-musical {
    width: 90vw;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1 / 13;
    grid-row: 9 / 13;
    .galeria-musical__spotify {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}