/* GALERIA */

.galeria-fotos {
    width: 90vw;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1 / 13;
    grid-row: 1 / 9;
}

.galeria-fotos h2,
.galeria-musical h2 {
    margin-bottom: 1rem;
}

.galeria-fotos .galeria-fotos__content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.galeria-fotos .galeria-fotos__content img {
    width: 21rem;
    padding: 1rem;
}

.galeria-musical {
    width: 90vw;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1 / 13;
    grid-row: 9 / 13;
}

.galeria-musical .galeria-musical__spotify {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}